.btn {
    padding: 12px 20px;
    outline: 1px solid #FF6C00;
    border-radius: 25px;
    &:hover,
    &:focus {
        
    }
    @media (min-width: 768px) {
        
    }

    @media (min-width: 1440px) {
        
    }
}
