$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$blackColor: #303030;
$blackLightenColor: #555555;
$greyColor: #9da4bd;
$greyColorRgba: rgba(157, 164, 189, 0.6);
$whiteColor: #ffffff;
$orangeColor: #ff6c00;  
